<!DOCTYPE html>
<html>
<head>
    <title>Beranda - CutesyBoutique</title>
</head>
<body>
    <h1>Selamat datang di CutesyBoutique</h1>
    <p>CutesyBoutique adalah toko fashion yang mengkhususkan diri dalam menyediakan koleksi pakaian dan aksesori yang lucu, trendi, dan penuh gaya untuk wanita dan remaja putri. 
        Dengan fokus pada desain yang feminin, ceria, dan menggemaskan, CutesyBoutique menawarkan berbagai pilihan busana mulai dari dress cantik, atasan kasual, hingga aksesori yang unik dan menawan. 
        Toko ini berkomitmen untuk menghadirkan produk-produk berkualitas tinggi dengan harga yang terjangkau, sehingga setiap pelanggan bisa tampil memukau dan percaya diri. 
        Baik Anda mencari pakaian untuk acara spesial atau sekadar ingin memperbarui koleksi sehari-hari, CutesyBoutique adalah destinasi fashion yang sempurna untuk menemukan item-item yang sesuai dengan gaya pribadi Anda!</p>
    <a href="{% url 'product_list' %}">Lihat Produk</a>
</body>
</html>
